<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-commit-issue-tracker-heading">Create or edit a Commit</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!commit.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="commit.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_hash">Hash</label>
                    <input type="text" class="form-control" name="hash" id="field_hash"
                        [(ngModel)]="commit.hash" required/>
                    <div [hidden]="!(editForm.controls.hash?.dirty && editForm.controls.hash?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.hash?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="commit.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="createdDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastModifiedDate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="lastModifiedDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastModifiedBy">Last Modified By</label>
                    <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                        [(ngModel)]="commit.lastModifiedBy" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_issue">Issue</label>
                    <select class="form-control" id="field_issue" name="issue" [(ngModel)]="commit.issueId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="issueOption.id" *ngFor="let issueOption of issues; trackBy: trackIssueById">{{issueOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_ownedBy">Owned By</label>
                    <select class="form-control" id="field_ownedBy" name="ownedBy" [(ngModel)]="commit.ownedById" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
