<div class="row justify-content-center">
    <div class="col-9">
        <h2>{{issue.title}}</h2>
        <button type="button" [routerLink]="['/issue-issue-tracker', issue.id, 'edit']" class="btn btn-primary">
            <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
        </button>
        <span *ngIf="issue.status != 'FINISHED' && issue.status != 'CANCELED'">
            <button type="button" (click)="openFormModal()" class="btn btn-primary">
                Finalizar Etapa
            </button>
        </span>
        <span *ngIf="issue.status != 'FINISHED' && issue.status != 'CANCELED'">
            <button type="button" (click)="openFormModal(true)" class="btn btn-primary">
                Cancelar
            </button>
        </span>
        <span *ngIf="issue.status === 'CODING'">
            <button type="button" [routerLink]="['/issue-issue-tracker', 'new']" [queryParams]="{ 'projectId': issue.projectId,'parentId': issue.id }" class="btn btn-secondary">
                Abrir Defeito
            </button>
        </span>
        <hr>
        <dt><span>Descrição:</span></dt>
        <dd>
            <span>{{issue.description}}</span>
        </dd>
        <jhi-alert-error></jhi-alert-error>
        </br>
        <ngb-tabset>
            <ngb-tab title="Histórico">
                <ng-template ngbTabContent>
                    <div class="table-responsive" *ngIf="issue.histories">
                        <table class="table table-striped">
                            <thead>
                                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="">
                                    <th jhiSortBy="title"><span>Descrição</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th jhiSortBy="status"><span>Criado por</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th jhiSortBy="type"><span>Criado em</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th jhiSortBy="priority"><span>Anexos</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let history of issue.histories ;trackBy: trackId">
                                    <td>
                                        <strong>
                                            {{history.flowStart}}
                                            &#10230;
                                            {{history.flowEnd}}
                                        </strong>
                                        <br>
                                        {{ history.commentDescription }}
                                    </td>
                                    <td>{{history.createdBy}}</td>
                                    <td>{{history.createdDate}}</td>
                                    <td>
                                        <span *ngIf="history.attachments == null || history.attachments?.length === 0">
                                            Não
                                        </span>
                                        <button class="btn btn-primary" *ngIf="history.attachments?.length > 0" (click)="openAttachmentModal(history)">
                                            Mostrar
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </ngb-tab>
            <ngb-tab title="Commits">
                <ng-template ngbTabContent>
                    <div class="table-responsive" *ngIf="commits">
                        <table class="table table-striped">
                            <thead>
                                <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="">
                                    <th jhiSortBy="hash"><span>Hash</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th jhiSortBy="status"><span>Criado por</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                                    <th jhiSortBy="type"><span>Criado em</span>
                                        <fa-icon [icon]="'sort'"></fa-icon>
                                    </th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let commit of issue.commits ;trackBy: trackId">
                                    <td>{{commit.hash}}</td>
                                    <td>{{commit.createdBy}}</td>
                                    <td>{{commit.createdDate}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
    <div class="col-3">
        <div *ngIf="issue">
            <dl class="row-md jh-entity-details">
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{issue.status}}</span>
                </dd>
                <dt><span>Type</span></dt>
                <dd>
                    <span>{{issue.type}}</span>
                </dd>
                <dt><span>Priority</span></dt>
                <dd>
                    <span>{{issue.priority}}</span>
                </dd>
                <dt><span>Duo Date</span></dt>
                <dd>
                    <span>{{issue.duoDate | date : 'dd/MM/yyyy hh:mm:ss'}}</span>
                </dd>
                <dt><span>Closed At</span></dt>
                <dd>
                    <span>{{issue.closedAt | date : 'dd/MM/yyyy hh:mm:ss'}}</span>
                </dd>
                <dt><span>Created By</span></dt>
                <dd>
                    <span>{{issue.createdBy }}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{issue.createdDate | date : 'dd/MM/yyyy hh:mm:ss'}}</span>
                </dd>
                <dt><span>Last Modified Date</span></dt>
                <dd>
                    <span>{{issue.lastModifiedDate | date : 'dd/MM/yyyy hh:mm:ss'}}</span>
                </dd>
                <dt><span>Last Modified By</span></dt>
                <dd>
                    <span>{{issue.lastModifiedBy}}</span>
                </dd>
                <dt><span>Issue</span></dt>
                <dd>
                    <div *ngIf="issue.issueId">
                        <a [routerLink]="['/issue-issue-tracker', issue.issueId, 'view']">{{issue.issueId}}</a>
                    </div>
                </dd>
                <dt><span>Closed By</span></dt>
                <dd>
                    {{issue.closedByLogin}}
                </dd>
                <dt><span>Assigned To</span></dt>
                <dd>
                    {{issue.assignedToLogin}}
                </dd>
                <dt><span>Reported By</span></dt>
                <dd>
                    {{issue.reportedByLogin}}
                </dd>
                <dt><span>Project</span></dt>
                <dd>
                    <div *ngIf="issue.projectId">
                        <a [routerLink]="['/project-issue-tracker', issue.projectId, 'view']">{{issue.projectId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit" (click)="previousState()" class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Voltar</span>
            </button>
        </div>
    </div>
</div>