<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-issue-issue-tracker-heading">Create or edit a Issue</h2>
            <div>
                {{projectId}}
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!issue.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" [(ngModel)]="issue.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title" [(ngModel)]="issue.title"
                        required minlength="3" maxlength="50" />
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.title?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.title?.errors?.minlength">
                            This field is required to be at least 3 characters.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.title?.errors?.maxlength">
                            This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <textarea [(ngModel)]="issue.description" required rows="5" maxlength="2000" class="form-control"
                        name="description" id="field_description">
                    </textarea>
                    <!--input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="issue.description" maxlength="2000"/-->
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.maxlength">
                            This field cannot be longer than 2000 characters.
                        </small>
                        <small class="form-text text-danger" [hidden]="!editForm.controls.description?.errors?.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <!--div class="form-group">
                    <label class="form-control-label" for="field_status">Status</label>
                    <select class="form-control" name="status" [(ngModel)]="issue.status" id="field_status" >
                        <option value="BACKLOG">BACKLOG</option>
                        <option value="SPECIFICATION">SPECIFICATION</option>
                        <option value="CODING">CODING</option>
                        <option value="TEST">TEST</option>
                        <option value="FINISHED">FINISHED</option>
                    </select>
                </div-->
                <div class="form-group">
                    <label class="form-control-label" for="field_type">Type</label>
                    <select class="form-control" name="type" [(ngModel)]="issue.type" id="field_type" [disabled]="blockType" >
                        <option value="STORY">STORY</option>
                        <option value="BUG">BUG</option>
                        <option value="SPIKE">SPIKE</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_priority">Priority</label>
                    <select class="form-control" name="priority" [(ngModel)]="issue.priority" id="field_priority">
                        <option value="CRITICAL">CRITICAL</option>
                        <option value="HIGH">HIGH</option>
                        <option value="MEDIUM">MEDIUM</option>
                        <option value="LOW">LOW</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_duoDate">Duo Date</label>
                    <div class="d-flex">
                        <input id="field_duoDate" type="datetime-local" class="form-control" name="duoDate" [(ngModel)]="duoDate" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_assignedTo">Assigned To</label>
                    <select class="form-control" id="field_assignedTo" name="assignedTo" [(ngModel)]="issue.assignedToId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <!--div class="form-group">
                    <label class="form-control-label" for="field_closedAt">Closed At</label>
                    <div class="d-flex">
                        <input id="field_closedAt" type="datetime-local" class="form-control" name="closedAt" [(ngModel)]="closedAt"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="text" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="issue.createdBy" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="createdDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastModifiedDate">Last Modified Date</label>
                    <div class="d-flex">
                        <input id="field_lastModifiedDate" type="datetime-local" class="form-control" name="lastModifiedDate" [(ngModel)]="lastModifiedDate"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_lastModifiedBy">Last Modified By</label>
                    <input type="text" class="form-control" name="lastModifiedBy" id="field_lastModifiedBy"
                        [(ngModel)]="issue.lastModifiedBy" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_issue">Issue</label>
                    <select class="form-control" id="field_issue" name="issue" [(ngModel)]="issue.issueId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="issueOption.id" *ngFor="let issueOption of issues; trackBy: trackIssueById">{{issueOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_closedBy">Closed By</label>
                    <select class="form-control" id="field_closedBy" name="closedBy" [(ngModel)]="issue.closedById" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_reportedBy">Reported By</label>
                    <select class="form-control" id="field_reportedBy" name="reportedBy" [(ngModel)]="issue.reportedById" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.login}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_project">Project</label>
                    <select class="form-control" id="field_project" name="project" [(ngModel)]="issue.projectId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="projectOption.id" *ngFor="let projectOption of projects; trackBy: trackProjectById">{{projectOption.id}}</option>
                    </select>
                </div>
            </div-->
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                    </button>
                </div>
        </form>
    </div>
</div>