<div class="row">
    <div class="col-md-12">

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br />-
                    Administrator (login="admin" and password="admin") <br />- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>

        <!--
            TODO: Dashboard com número de projetos criados, número de usuários, número de commits.
        -->
        <div class="row">
            <div class="col-md-4">
                <div class="card jh-card">
                    <div>
                        Title
                    </div>
                    <div>
                        Conteudo.
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <span>
                    Title
                </span>
                <div>
                    Conteudo.
                </div>
            </div>
            <div class="col-md-4">
                <span>
                    Title
                </span>
                <div>
                    Conteudo.
                </div>
            </div>
        </div>
    </div>
</div>